{% extends 'base.html.twig' %}

{% block main %}
    <div>
        {{ form_start (participantForm)}}

        {{ form_row(participantForm.nom) }}
        {{ form_row(participantForm.prenom) }}
        {{ form_row(participantForm.telephone) }}
        {{ form_row(participantForm.mail) }}
        {{ form_row(participantForm.mot_de_passe) }}
        {{ form_row(participantForm.confirmation) }}
        {{ form_row(participantForm.campus) }}

        <button type="submit"> Valider </button>
        <button type="reset"> Annuler </button>

        {{ form_end (participantForm) }}
    </div>
{% endblock %}

{% block title %}{{ parent() }} | Accueil{% endblock %}