{% extends 'base.html.twig' %}

{% block main %}
    <h1>{{  sortie.nom }}</h1>
    <div class="detail-sortie">
        <div>nom de la sortie : {{ sortie.nom }}</div>
        <div>date et heure de la sortie : {{ sortie.dateDebut | date('Y-m-d') }}</div>
        <div>date limite d'inscription : {{ sortie.dateCloture | date('Y-m-d') }}</div>
        <div>nombre de places restantes / total: {{sortie.nbInscriptionMax - sortie.participantsP | length}} / {{ sortie.nbInscriptionMax }}</div>
        <div>durée : {{ sortie.duree }} minutes</div>
        <div>description et infos : {{ sortie.infosSortie }}</div>

        <div>campus : {{ sortie.campus.nom }}</div>
        <div>lieu : {{ sortie.lieu.nom }}</div>
        <div>Rue : {{ sortie.lieu.rue }}</div>
        <div>Code postal : {{ sortie.lieu.ville.codePostal }}</div>
        <div>latitude : {{ sortie.lieu.latitude }}</div>
        <div>longitude : {{ sortie.lieu.longitude }}</div>

    </div>

    <div class="sortie-list">
        <ul>
            <div>Liste des participants inscrits</div>
            {% for participant in participants %}
                <li><a href="{{ path("profile", {'id':participant.id} ) }}">{{ participant.prenom }}</a></li>
            {% endfor %}
        </ul>
    </div>
    {% if app.user in sortie.participantsP %}
        Se désister
    {% else %}
        <a href="{{ path("inscription_sortie", {'id' : id}) }}">S'inscrire</a>
    {% endif %}
{% endblock %}