{% extends 'base.html.twig' %}

{% block main %}
    <h1 id="detail">{{ sortie.nom }}</h1>
    <div class="detail-sortie">
        <div class="row">
            <label>Date et heure de la sortie :</label>
            <p>{{ sortie.dateDebut | date('d/m/Y H:i') }}</p>
        </div>
        <div class="row">
            <label>Date limite d'inscription :</label>
            <p>{{ sortie.dateCloture | date('d/m/Y H:i') }}</p>
        </div>
        <div class="row">
            <label>Nombre de places restantes / Total :</label>
            {% if (sortie.etat.libelle == "Annulée")%}
                <p>-/-</p>
            {% else %}
                <p>{{sortie.nbInscriptionMax - sortie.participantsP | length}} / {{ sortie.nbInscriptionMax }}</p>
            {% endif %}
        </div>
        <div class="row">
            <label>Durée :</label>
            <p>{{ sortie.duree }} minutes</p>
        </div>
        <div class="row">
            <label>Description et infos :</label>
            {% if(sortie.infosSortie) %}
                <p>{{ sortie.infosSortie }}</p>
            {% else %}
                <p><i>Non renseignés</i></p>
            {% endif %}
        </div>
        <div class="row">
            <label>Campus :</label>
            <p>{{ sortie.campus.nom }}</p>
        </div>
        <div class="row">
            <label>Lieu :</label>
            <p>{{ sortie.lieu.nom }}</p>
        </div>
        <div class="row">
            <label>Rue :</label>
            {% if(sortie.lieu.rue) %}
                <p>{{ sortie.lieu.rue }}</p>
            {% else %}
                <p><i>Non renseignée</i></p>
            {% endif %}
        </div>

        <div class="row">
            <label>Code postal et ville :</label>
            <p>{{ sortie.lieu.ville.codePostal }} - {{ sortie.lieu.ville.nom }}</p>
        </div>
        <div class="row">
            <label>Latitude :</label>
            {% if(sortie.lieu.latitude) %}
                <p>{{ sortie.lieu.latitude }}</p>
            {% else %}
                <p><i>Non renseignée</i></p>
            {% endif %}
        </div>
        <div class="row">
            <label>Longitude :</label>
            {% if(sortie.lieu.longitude) %}
                <p>{{ sortie.lieu.longitude }}</p>
            {% else %}
                <p><i>Non renseignée</i></p>
            {% endif %}
        </div>
    </div>

    <div class="list-buttons">
        {% if((participants | length) > 0) %}
        <div class="sortie-participant">
            <label> Liste des participants inscrits :  </label>
            <ul>
                {% for participant in participants %}
                    <a href="{{ path("profil", {'id':participant.id} ) }}"><li>{{ participant.prenom }} {{ participant.nom | upper }}</li></a>
                {% endfor %}
            </ul>
        </div>
            {% else %}
            <p></p>
        {% endif %}
        <div class="btn-command">
            {% if app.user in sortie.participantsP  and sortie.dateDebut > "now"|date("Y/m/d")%}
                <a href="{{ path("sortie_desinscription", {'id' : id}) }}"><button class="btn btn-secondary">Se désinscrire</button></a>
            {% elseif app.user not in  sortie.participantsP and sortie.dateCloture > "now"|date("Y/m/d") and sortie.etat.libelle == "Ouverte"%}
                <a href="{{ path("sortie_inscription", {'id' : id}) }}"><button class="btn btn-primary">S'inscrire</button></a>
            {% endif %}
            {% if (app.user.administrateur or app.user == sortie.participantO) and sortie.dateDebut > "now"|date("Y/m/d") and sortie.etat.libelle == "Créée" %}
                <a href="{{ path("sortie_publication", {'id' : id}) }}"><button class="btn btn-primary">Publier la sortie</button></a>
            {% endif %}

            {% if (app.user.administrateur or app.user == sortie.participantO) and ( sortie.etat.libelle == "Ouverte" or sortie.etat.libelle == "Créée") and sortie.dateDebut > "now"|date("Y/m/d") %}
                <a href="{{ path("sortie_modifier", {'id':sortie.id}) }}"><button class="btn btn-primary">Modifier</button></a>
                <a href="{{ path("sortie_annuler", {'id':sortie.id}) }}" ><button class="btn btn-secondary">Annuler</button></a>
            {% endif %}
        </div>
    </div>
{% endblock %}