<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Sortir.com{% endblock %}</title>
    {#<link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.min.css') }}">#}
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    {#<link href="{{ asset('open-iconic/font/css/open-iconic.css') }}" rel="stylesheet">#}
    <link rel="icon" href="{{ asset('img/S.png') }}">
    <script src="{{ asset("js/jquery.min.js") }}"></script>
    <script src="{{ asset('js/popper.js') }}"></script>
    <script src="{{ asset('js/tooltip.js') }}"></script>
    <script src="{{ asset("bootstrap/js/bootstrap.min.js") }}"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ asset('css/app.css') }}">
    <link rel="stylesheet" href="{{ asset('css/form.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
<div class="container">
    <header>
        {% block header %}
        <a class="site-title" href="{{ path('home') }}" title="Sortir.com | Accueil">
            <img src="{{ asset('img/logo.png') }}" alt="Sortir.com logo">
        </a>
        <nav>
            <ul>
                <li><a href="{{ path("home") }}" title="Sortir.com | Accueil">Accueil</a></li>
                {% if is_granted("ROLE_USER") %}
                    <li><a href="{{ path("monProfil") }}" title="Mon profil">Mon profil</a></li>
                {% endif %}
                {% if is_granted("ROLE_ADMIN") %}
                    <li><a href="{{ path("register") }}" title="Créer compte">Créer un compte</a></li>
                    <li><a href="{{ path("monProfil") }}" title="Mon profil">Mon profil</a></li>
                {% endif %}
            </ul>
            <ul>
                {% if is_granted("ROLE_USER") or is_granted("ROLE_ADMIN")  %}
                    <li><a href="" disabled>Bonjour {{ app.user.prenom }}!</a></li>
                    <li><a href="{{ path("logout") }}" title="Deconnexion">D&eacute;connexion</a></li>
                {% else %}
                    <li><a href="{{ path("login") }}" title="Connexion">Connexion</a></li>
                    <li><a href="{{ path("register") }}" title="Créer compte">Créer un compte</a></li>
                {% endif %}
            </ul>
        </nav>
        {% endblock %}
    </header>

    <main>
        <div class="flashes">
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }} alert-dismissible fade show"  role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>

        {% block main %}{% endblock %}

    </main>

    <footer>
        © {{ "now"|date("Y") }} Sortir.com
    </footer>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript">
    $(function() {
        $('.js-datepicker').datetimepicker({
            locale: "fr",
            sideBySide: true,
            icons:
                {
                    up: 'fa fa-angle-up',
                    down: 'fa fa-angle-down',
                    previous: 'fas fa-angle-left',
                    next: 'fas fa-angle-right'
                }

        });
    });
</script>
</body>
</html>