<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Sortir.com{% endblock %}</title>
    {#<link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.min.css') }}">#}
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    {#<link href="{{ asset('open-iconic/font/css/open-iconic.css') }}" rel="stylesheet">#}
    <link rel="icon" href="{{ asset('img/S.png') }}">
    <script src="{{ asset("js/jquery.min.js") }}"></script>
    <script src="{{ asset('js/popper.js') }}"></script>
    <script src="{{ asset('js/tooltip.js') }}"></script>
    <script src="{{ asset("bootstrap/js/bootstrap.min.js") }}"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ asset('css/app.css') }}">
    <link rel="stylesheet" href="{{ asset('css/form.css') }}">
    <link rel="stylesheet" href="{{ asset('css/menu.css') }}">
    <link rel="stylesheet" href="{{ asset('css/ville_campus.css') }}">
    <link rel="stylesheet" href="{{ asset('css/sortie_detail.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
<div class="container">
    <header>
        {% block header %}
        <a class="site-title" href="{{ path('home') }}" title="Sortir.com | Accueil">
            <img src="{{ asset('img/logo.png') }}" alt="Sortir.com logo">
        </a>
        <div id="hamburger">
            <div id="hamburger-content">
                <nav>
                    <ul class="menu">
                        <li><a href="{{ path("home") }}" title="Sortir.com | Accueil"><i class="fas fa-home"></i> Accueil</a></li>

                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED")  %}
                            {#<li><a href="{{ path("sortie_creer") }}" title="Créer sortie">Créer une sortie</a></li>#}
                            {#<li>Bonjour {{ app.user.prenom }} !</li>#}

                            {% if is_granted("ROLE_ADMIN") %}
                                <li class="users"><a><i class="fas fa-chevron-down"></i> Gestion utilisateur</a>
                                    <ul class="gestion_user">
                                        <li><a href="{{ path("monProfil") }}" title="Mon profil"><i class="fas fa-user"></i> Mon profil</a></li>
                                        <li><a href="{{ path("register") }}" title="Créer compte"><i class="fas fa-plus"></i> Créer un compte</a></li>
                                        <li><a href="{{ path("ajoutMultiple") }}" title="Ajout par CSV"><i class="fas fa-folder-plus"></i> Création multiple</a></li>
                                        <li><a href="{{ path("allparticipants") }}" title="Liste des participants"><i class="fas fa-users"></i> Liste des participants</a></li>
                                    </ul>
                                </li>
                                <li><a href="{{ path("ville") }}" title="Ville"><i class="fas fa-city"></i> Ville</a></li>
{#                                <li><a href="#" style="display:block;width:120px; height:30px;" onclick="document.getElementById('inputfile').click()">Ajout par CSV</a></li>#}
{#                                <input type='file' id="inputfile" name="inputfile" style="display:none">#}
                                <li><a href="{{ path("campus") }}" title="Campus"><i class="fas fa-school"></i> Campus</a></li>
                                {% else %}
                                    <li><a href="{{ path("monProfil") }}" title="Mon profil"><i class="fas fa-user"></i> Mon profil</a></li>
                            {% endif %}

                            <li><a href="{{ path("logout") }}" title="Deconnexion"><i class="fas fa-sign-out-alt"></i> D&eacute;connexion</a></li>
                        {% else %}
                            <li><a href="{{ path("login") }}" title="Connexion"><i class="fas fa-sign-in-alt"></i> Connexion</a></li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
            <button id="hamburger-button">&#9776;</button>
            <div id="hamburger-sidebar">
                <div id="hamburger-sidebar-header"></div>
                <div id="hamburger-sidebar-body"></div>
                <div id="hamburger-sidebar-footer"><p>© {{ "now"|date("Y") }} Sortir.com</p></div>
            </div>
            <div id="hamburger-overlay"></div>
        </div>
        {% endblock %}
    </header>

    <main>
        <div class="flashes">
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }} alert-dismissible fade show"  role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>

        {% block main %}{% endblock %}

    </main>

    <footer>
        © {{ "now"|date("Y") }} Sortir.com
    </footer>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
<script  type="text/javascript" src="{{ asset('js/burger-menu.js') }}"></script>
<script type="text/javascript">
    $(function() {
        $('.js-datepicker').datetimepicker({
            locale: "fr",
            sideBySide: true,
            icons:
                {
                    up: 'fa fa-angle-up',
                    down: 'fa fa-angle-down',
                    previous: 'fas fa-angle-left',
                    next: 'fas fa-angle-right'
                }

        });
    });
</script>
<script>
    $(document).ready(function() {
        $('#inputfile').change(function(){
            var file_data = $('#inputfile').prop('files')[0];
            var form_data = new FormData();
            form_data.append('file', file_data);
            $.ajax({
                url: '{{ path('ajoutMultiple') }}',
                type: "POST",
                data: form_data,
                contentType: "multipart/form_data",
                cache: false,
                processData:false,
                success: function(toto){
                    console.log(toto);
                }
            });
        });
    });
</script>
{% block javascript %}{% endblock %}
</body>
</html>

