{% extends 'base.html.twig' %}

{% block main %}
    <h2>Liste des participants</h2>

    <div class="jumbotron jumbotron-fluid bg-transparent" style="margin-top: -50px; border-bottom: 1px solid #D3D3D3; padding-bottom: 0px;">
        <div class="container">
            <h1 class="display-7">Rechercher un participant</h1>

            <form method="post" action="{{ path('participant_filtre') }}">
                <div class="row">
                    <div class="col-sm-6">
                        <label for="searchInput">Le nom ou pr&eacute;nom du participant contient</label>
                        <input id="searchInput" class="form-control" type="text" placeholder="Rechercher" name ="search">
                    </div>
                    <div class="col-sm-6">
                        <div class="flex-row">&nbsp;</div>
                        <button type="submit" class="btn btn-outline-primary btn-lg">Rechercher</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <ul>
        {% for participant in participants %}
            <li class="listParticipant">
                <a href="{{ path("profil", {'id':participant.id} ) }}">{{participant.prenom}} {{participant.nom | upper}}</a>
                <div>
                    {% if participant.actif == true %}
                        <a href="{{ path("setinactif", {id : participant.id}) }}" title="Rendre le participant inactif"><i class="fas fa-toggle-on fa-2x"></i></a>
                    {% else %}
                        <a href="{{ path("setinactif", {id : participant.id}) }}" title="Rendre le participant actif"><i class="fas fa-toggle-off fa-2x"></i></a>
                    {% endif %}

                    <a href="{{ path("delete_profil", {id : participant.id}) }}" title="Supprimer le participant"><span class="far fa-trash-alt fa-2x"></span></a>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}

{% block title %}{{ parent() }} | Liste des participants{% endblock %}