{% extends 'base.html.twig' %}

{% block main %}
    <label style="display: flex; justify-content: center; font-size: 2rem">{{ profile.prenom }} {{ profile.nom }}</label>
    <div class="profil">
        <div class="row">
            <label>Téléphone :</label>
            <p>{{ profile.telephone }}</p>
        </div>
        <div class="row">
            <label>Email :</label>
            <p>{{ profile.mail }}</p>
        </div>
            <div class="row"><label>Campus :</label>
                <p>{{ profile.campus.nom }}</p>
            </div>
        <input class="btn btn-primary" type="button" value="Retour" onclick="history.back()">
    </div>
{% endblock %}